h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #010101;
    text-align: center;
    margin-top: 5vh;
}

.afr{
    animation: fr 1.5s ease;
}

section{
    padding-left: 10vw;
    padding-right: 10vw;
}

.article{
    margin-top: 10vh;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #777;
}

button h2, button h3{
    color: whitesmoke;
}

@keyframes fr {
    0%{
        opacity: 0;
        transform: translateX(80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
