@media (prefers-color-scheme: dark){
    h1 {
        color: whitesmoke;
        /*flex: 1;*/
    }
    h2,h3,p,small{
        color: whitesmoke;
    }
    .content{
        background-color: #1f1b24;
    }
}
