.left{
    display: flex;
    width: 75vw;
    margin: 5vh 15vw 0px 10vw;
    animation: fl 1.5s ease;
}

.right{
    display: flex;
    width: 75vw;
    margin: 0vh 10vw 0px 15vw;
    animation: fr 1.5s ease;
}

.text{
    margin: 0px 0px 0px 5vw;
    flex: 2;
}

h1{
    color: #010101;
    font-size: 44px;
}

h2{
    color: #010101;
}

.img{
    flex: 1;
}

.largeimg{
    flex: 1;
    width: 150%;
}

section p{
    color: #010101;
    margin-top: 3vw;
}

.lefth1{
    background: linear-gradient(to right, #010101, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.righth1{
    background: linear-gradient(to left, #010101, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}

.flex3{
    flex: 3;
}

.smallimg{
    width: 30%;
    margin: 0px 5vw 0px 5vw;
}

.smallerimg{
    width: 20%;
    margin: 0px 5vw 0px 5vw;
}

.spacer{
    margin-top: 10vh;
}

.erin{
    width: 90%;
}

@keyframes fr {
    0%{
        transform: translateX(80px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fl {
    0%{
        transform: translateX(-80px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 1080px){
    section{
        display: flex;
        flex-direction: column;
    }
    .child{
        display: flex;
        flex-direction: column;
    }
    .left{
        text-align: center;
    }
    .right{
        margin: 0px 10vw 0px 10vw;
        display: flex;
        flex-direction: column-reverse;
    }
    .img{

        margin: 0 auto;
    }
    .smallerimg{
        height: auto;
        width: auto;
        margin: 0 auto;
    }
    .imgpro, img{
        height: auto;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    p, .p{
        text-align: center;
    }
    .erin{
        width: 15rem;
    }
}
