@media (prefers-color-scheme: dark) {

    header {
        background-color: #1f1b24;
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    body{
        background-color: #121212;
    }

    .logo{
        color: whitesmoke;
    }

    .nav-link{
        color: #818181;
    }

    h4, h5{
        color: whitesmoke;
    }

    a{
        color: whitesmoke;
    }

    footer {
    background-color: #18181a;
    }

    footer p {
        color: #686782;
    }
}
