@media (prefers-color-scheme: dark){
    
    .cover img {
        /*background-color: red;*/
        filter: drop-shadow(0px 5px 3px black);
    }
    
    .intro-text h1 {
        background: linear-gradient(to right, #6f6f89, whitesmoke);
        -webkit-background-clip: text;
    }

    figcaption{
        color: whitesmoke;
    }

}
